{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to product List</button></a></p>

<h1>{{ product.name }}</h1>
<p><b>{{ product.get_category_display }}</b>{% if product.is_featured %} | 
    <b>Featured</b>{% endif %}{% if product.is_product_hot %} | 
    <b>Hot</b>{% endif %} | <i>{{ product.created_at|date:"d M Y, H:i" }}</i> 
    | Views: {{ product.product_views }}</p>

{% if product.thumbnail %}
    <img src="{{ product.thumbnail }}" alt="product thumbnail" width="300">
    <br /><br />
{% endif %}
<p>{{ product.description }}</p>
<p>{{ product.content }}</p>
{% if product.price %}
    <p><b>Price:</b> Rp. {{ product.price }}</p>
{% endif %}
{% if product.stock is not None %}
    <p><b>Stock:</b> {{ product.stock }}</p>
{% endif %}
{% if product.user %}
    <p>Author: {{ product.user.username }}</p>
{% else %}
    <p>Author: Anonymous</p>
{% endif %}
{% endblock content %}